@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 100%;
  letter-spacing: 0.2px;

  color: var(--primary);
  background-color: var(--secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
div,
p {
  margin: 0;
  padding: 0;
}

button {
  font-family: "Montserrat", sans-serif;
}

#app {
  margin: 0 auto;
}
